<div class="menu-card">

  <nav id="navbar">
    <ul>
      <li><%= link_to "Cartes", root_path %></li>
      <li><%= link_to "Collection", collection_user_path(current_user) if user_signed_in? %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Connexion", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <div id="logo">
    <%= image_tag 'logo.png', alt: 'Logo', id: 'logo' %>
    <h2>Attrapez les tous!</h2>
  </div>


  <div class="image-card">
    <% @cards.each do |card| %>
      <div>
      <%= link_to card_path(card) do %>
        <%= image_tag(card.image_path, alt: card.name) %>
      <% end %>
      </div>
    <% end %>
</div>


</div>
<div id="footer" style="margin-top:40px">
  Réalisé par @nuagecreate
</div>
