<h1><%= @card.name %></h1>
<div class="card-details">
  <%= image_tag @card.photo if @card.photo.attached? %>
  <p>Catégorie : <%= @card.category %></p>
  <p>Description : <%= @card.description %></p>
  <p>PV : <%= @card.pv %></p>

  <% if @in_collection %>
    <%= button_to "Enlever de la collection", remove_from_collection_card_path(@card), method: :delete, data: { turbo: false } %>
  <% else %>
    <%= button_to "Ajouter à la collection", add_to_collection_card_path(@card), method: :post, data: { turbo: false } %>
  <% end %>
</div>
<%= link_to "Retour à la liste", root_path %>
